@use '../../Styles/Partials/variables.scss' as *;
@use '../../Styles/Partials/mixins.scss' as *;

.nextVids{
    margin: 1rem;
    @include tablet{
        margin: 2.25rem;
    }
    @include desktop{
        width: 24rem;
        margin: 2rem 8rem 0rem 0rem;
        padding-left: 2rem;
    }
}