@use '../..//Styles/Partials/variables.scss' as *;
@use '../../Styles/Partials/mixins.scss' as *;


.player{
    &__image{
        width: 100%;
        margin: 0;
        padding: 0;

        // @include desktop{
        //     margin: 0 8rem 0;
        // }

        &--container{
            @include tablet{
                background-size: auto;
                padding: 0rem 2.25rem;
                margin: 0;
                background: black;
            }
            @include desktop{
                padding: 0rem 14rem;
            }
        }
    }

}