@use './Styles/Partials/variables.scss' as *;
@use './Styles/Partials/mixins.scss' as *;

@font-face {
    font-family: Avenir;
    src: url(./assets/Font/AvenirNextLTPro-Regular.otf);
  }

  @font-face {
    font-family: Avenir;
    src: url(./assets/Font/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
  }

* {
    box-sizing: border-box;
}

main{
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

::placeholder{
    color: #323232;
}

.desktopSplit{
    @include desktop{
        display: flex;

    &__left{
        border-right: solid 2px #E1E1E1;
    }
 
    }
}